.card img {
  max-height: 200px;
  object-fit: cover;
}

.card img.materialized.active {
  max-height: none;
  object-fit: none;
}
.brand-logo {
  display: inline-block;
  height: 100%;
  vertical-align: middle
}

#coffeelogo {
  width: 100px;
  height: auto;
  justify-content: center;
}

#bookImg {
  background-image: url("../images/books-library-bokeh-depth-of-field-wallpaper-preview.jpg");
  padding-top: 10px;
  padding-right: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  
  
}

#contentPosition {
  padding-top: 5%;
  

}

.input-group {
  display:table;
  width:100%;
}
.input-group .input-field,
.input-group .input-group-addon {
  display:table-cell;
}
