* {
  font-family: 'EB Garamond', serif;
}

.card img {
  max-height: 200px;
  object-fit: cover;
}

.card img.materialized.active {
  max-height: none;
  object-fit: none;
}
.brand-logo {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

#coffeelogo {
  width: 100px;
  height: auto;
  justify-content: center;
}

/* #movieImg {
  background-image: url("../images/1168422.png");
  width: 100%;
  background-repeat: no-repeat;
  height: 100%;
  object-fit: cover;
} */

#imageHeight {
  background-image: url("../images/1168422.png");
  width: 100%;
  background-repeat: no-repeat;
  height: 100%;
  object-fit: cover;
}

#bookImg {
  background-image: url("../images/backgroundimage.jpg");
  width: 100%;
  background-repeat: no-repeat;
  height: 100%;
  object-fit: cover;
}

#contentPosition {
  padding-top: 5%;
}

.input-group {
  display:table;
  width:100%;
}
.input-group .input-field,
.input-group .input-group-addon {
  display:table-cell;
}
